<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis Prácticas Corte 2</title>
        <style>
            body {
                font-family: 'Arial', sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
            }
    
            section {
                margin: 20px;
            }
    
            form {
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
    
    
            button {
                background-color: #4caf50;
                color: white;
                padding: 10px 15px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
    
            button:hover {
                background-color: #45a049;
            }
    
            .container {
                margin-top: 20px;
            }
    
            table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 10px;
            }
    
            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }
    
            th {
                background-color: #4caf50;
                color: white;
            }
    
            tr:hover {
                background-color: #f5f5f5;
            }
        </style>
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
        <section>
            <form action="/alumnos" method="post">

                <input type="number" id="matricula" name="matricula"placeholder= "Matricula" required>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
                <input type="text" name="sexo" id="sexo" placeholder="M o F" required>
                <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad" required>

                <div style="float: right; margin-right:5.5rem; margin-top: 1rem;">
                    <button type="submit"> Enviar Informacion</button>
                </div>

                <div class="container">
                    <table class="table table-hover">
                            <tr>
                                <th scope="col"> ID </th> 
                                <th scope="col"> Matricula </th>
                                <th scope="col"> Nombre </th>
                                <th scope="col"> Domicilio </th>
                                <th scope="col"> sexo </th>
                                <th scope="col"> Especialidad </th>
                            </tr>
                            <% 
                            for( var i=0 ; i<reg.length; ++i){ %>
                                <tr>
                                    <td><%=reg[i].idalumnos %></td>
                                    <td><%=reg[i].matricula %></td>
                                    <td><%=reg[i].nombre %></td>
                                    <td><%=reg[i].domicilio %></td>
                                    <td><%=reg[i].sexo %></td>
                                    <td><%=reg[i].especialidad %></td>
                                </tr>
                                <%
                                }
                                %>
                    </table>
                </div>
            </form>
        </section>
        <%- include('partials/footer.ejs') %>
    </body>
</html>

