<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        section {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 10px;
        }

        input,
        select,
        button {
            margin-bottom: 15px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        h3 {
            color: #333;
        }

        h5 {
            margin-bottom: 10px;
            color: #333;
        }
    </style>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    
    <section>
        <div id="formulario">
            <form action="/cotizacion" method="post">
                <label for="">Valor de Automovil</label>
                <input type="number" name="valor" id="valor" required> <br>
                <label for="">Porcentaje de pago inicial</label>
                <input type="number" name="pinicial" id="pinicial" required> <br>
                <label for=""> Plazos</label>
                <select name="plazos" id="plazos">
                    <option value="12">12 Meses</option>
                    <option value="24">24 Meses</option>
                    <option value="36">36 Meses</option>
                    <option value="48">48 Meses</option>
                    <option value="60">68 Meses</option>
                </select> <br>
                <button type="submit">Calcular</button>
                <button type="reset">Limpiar</button>
            </form>
    
    
        </div>
        <br>
    <section>
            <h3>Resultado</h3>
    <%
    if(valor){
        let total=0;
        let ppinicial=0;
        let pagomen = 0;
        pginicial = valor * (pinicial / 100);
        total = valor - pginicial;
        pagomen = total/plazos; 
        %>
        <h5>Pago inicial: $ <%=pginicial%> </h5>    <br>
        <h5>Total a financiar:  $ <%=total%> </h5>  <br>
        <h5>Plazos a meses: <%=plazos%> meses</h5>  <br>
        <h5>El valor de la cuota mensual es:  $ <%=pagomen%> </h5>
        <%
    }
    %>   
</section>
    <%- include('partials/footer.ejs') %>
</body>
</html>
