<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mis Prácticas Corte 2</title>
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>
        <div class="main-container">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, vero? Ea non praesentium reiciendis dolore alias culpa commodi adipisci? Ea repellat deleniti praesentium atque omnis cum dolore laboriosam temporibus molestiae?
                Aspernatur laudantium porro excepturi sed tempora debitis quaerat, aliquid itaque deleniti saepe veritatis officiis quibusdam ut sunt quis sapiente suscipit? Praesentium laudantium molestiae unde voluptatem? Voluptatibus magni earum non quo.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam quidem odit provident id asperiores, eaque iste? Earum officia itaque rerum, quod excepturi quasi eligendi, minima labore assumenda aliquam, fugiat consequuntur!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae assumenda est aliquam, nihil non itaque corrupti explicabo inventore delectus eius dolorum eaque nobis. Minima voluptatum repellendus provident molestias, sequi incidunt.
            </p>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur repudiandae pariatur voluptate voluptatum? Eius, eligendi officia doloribus impedit eveniet quas dolores cupiditate! Quae consequuntur ea, deserunt quis voluptate cumque nihil!
            </p>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>

